@import "../public/assets/css/animate.min.css";
@import "../public/assets/css/popup.css";
/* <!--====== Bootstrap css ======--> */
@import "../public/assets/css/bootstrap.min.css";
/* <!--====== Fontawesome css ======--> */
@import "../public/assets/css/font-awesome.min.css";
/* <!--====== Flaticon css ======--> */
@import "../public/assets/css/flaticon.css";
/* <!--====== Slick Css ======--> */
@import "../public/assets/css/slick.min.css";
/* <!--====== Lity Css ======--> */
@import "../public/assets/css/lity.min.css";
/* <!--====== Main css ======--> */
@import "../public/assets/css/main.css";
/* <!--====== Responsive css ======--> */
@import "../public/assets/css/responsive.css";

.font-size-sm{
    font-size: 16px !important;
}
.flex{
    display: flex;
    gap: 2rem;
    justify-content:space-evenly;
    
}
.font-weight-medium{
    font-weight: 400;
}
.text-center{
    text-align: center;
}
.flex-1{
    flex: 1;
}
.font-size-lg{
    font-size: 20px !important;
}

.font-size-xl{
    font-size: x-large !important;
}

.gems-container{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.Dontate-button:hover{
border: 1px solid var(--primary-color);
}

.quotes{
    background-color: var(--primary-color);
    padding: 2rem;
    border-radius: 2rem;
    font-weight: 600 !important;
}
.about-img-5{
    width: 100%;
    height: 250px;
}
@media (min-width: 1200px) {
    .about-img-5{
        width: 100%;
        height: 300px;
    }
}




@media (max-width: 500px) {
    .about-img-5{
        width: 100%;
        height: 150px;
    }

    .hero-area-one .hero-text{
        padding-bottom: 0 !important;
    }
   
}



.about-one {
    position: relative;
    display: block;
    padding: 120px 0 120px;
    z-index: 1;
  }
  
  .about-one__shape-box-1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 690px;
    width: 625px;
    background-color: var(--oxpins-extra);
    z-index: -1;
  }
  
  .about-one__shape-1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    mix-blend-mode: luminosity;
    opacity: 0.15;
  }
  
  .about-one__left {
    position: relative;
    display: block;
    margin-right: 100px;
  }
  
  .about-one__img-box {
    position: relative;
    display: block;
  }
  
  .about-one__img {
    position: relative;
    display: block;
  }
  
  .about-one__img img {
    width: 100%;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 335px;
    border-bottom-right-radius: 335px;
  }
  
  .about-one__img-border {
    position: absolute;
    top: -30px;
    left: -30px;
    height: 600px;
    width: 430px;
    border: 6px solid var(--oxpins-primary);
    border-bottom-left-radius: 300px;
    border-bottom-right-radius: 300px;
  }
  
  .about-one__curved-circle-box {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: rgb(241, 241, 241);
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.1), inset 0px 0px 16px 0px rgba(0, 0, 0, 0.13);
  }
  
  .about-one__curved-circle-box .curved-circle {
    position: absolute;
    top: 18px;
    right: 18px;
    bottom: 18px;
    left: 18px;
    font-size: 16px;
    font-weight: 500;
    color: var(--oxpins-black);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.005em;
  }
  
  .about-one__curved-circle-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .about-one__curved-circle-icon img {
    width: auto;
  }
  
  .about-one__shape-2 {
    position: absolute;
    top: 280px;
    left: -120px;
  }
  
  .about-one__shape-2 img {
    width: auto;
  }
  
  .about-one__shape-3 {
    position: absolute;
    bottom: 125px;
    left: -55px;
  }
  
  .about-one__shape-3 img {
    width: auto;
  }
  
  .about-one__shape-4 {
    position: absolute;
    bottom: 265px;
    right: -70px;
  }
  
  .about-one__shape-4 img {
    width: auto;
  }
  
  .about-one__right {
    position: relative;
    display: block;
  }
  
  .about-one__right .section-title {
    margin-bottom: 28px;
  }
  
  .about-one__fund {
    position: relative;
    display: block;
    padding-left: 25px;
    margin-top: 34px;
    margin-bottom: 43px;
  }
  
  .about-one__fund:before {
    content: "";
    position: absolute;
    top: 8px;
    bottom: 7px;
    left: 0;
    width: 6px;
    background-color: var(--oxpins-base);
  }
  
  .about-one__fund-text {
    font-size: 18px;
    font-weight: 500;
    color: var(--oxpins-black);
    line-height: 34px;
  }
  
  .about-one__fund-text span {
    color: var(--oxpins-primary);
    font-weight: 800;
  }
  
  .about-one__points {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 41px;
  }
  
  .about-one__points li {
    position: relative;
    display: flex;
  }
  
  .about-one__points li + li {
    margin-left: 19px;
  }
  
  .about-one__points li .icon {
    position: relative;
    display: inline-block;
    z-index: 1;
  }
  
  .about-one__points li .icon:before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    height: 43px;
    width: 43px;
    background-color: var(--oxpins-extra);
    border-radius: 50%;
    transition: all 500ms linear;
    transition-delay: 0.1s;
    transform: scale(1);
    z-index: -1;
  }
  
  .about-one__points li:hover .icon:before {
    transform: scale(1.2);
  }
  
  .about-one__points li .icon span {
    position: relative;
    display: inline-block;
    font-size: 65px;
    color: var(--oxpins-base);
    transition: all 500ms linear;
    transition-delay: 0.1s;
    transform: scale(1);
  }
  
  .about-one__points li:hover .icon span {
    transform: scale(0.9);
  }
  
  .about-one__points li .text {
    margin-left: 20px;
    margin-top: -5px;
  }
  
  .about-one__points li .text h5 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 900;
    margin-bottom: 7px;
  }
  
  .about-one__points li .text h5 a {
    color: var(--oxpins-black);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  
  .about-one__points li:hover .text h5 a {
    color: var(--oxpins-base);
  }
  
  .about-one__points li .text p {
    font-size: 16px;
  }
  
.border-radius{
    border-radius: 2rem;
}



/*--------------------------------------------------------------
# Gallery One
--------------------------------------------------------------*/
.gallery-one {
    position: relative;
    display: block;
  }
  
  .gallery-one__top {
    position: relative;
    display: block;
    background-color: var(--oxpins-primary);
    text-align: center;
    padding: 58px 0;
  }
  
  .gallery-one__top:before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 10px solid var(--oxpins-primary);
  }
  
  .gallery-one__top-title {
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: -0.04em;
  }
  
  .gallery-one__bottom {
    position: relative;
    display: block;
    /* padding-top: 70px;
    padding-bottom: 90px; */
  }
  
  .gallery-one__container {
    position: relative;
    display: block;
    max-width: 1670px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .gallery-one__list {
    position: relative;
    display: flex ;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
  }
  
  .gallery-one__single {
    position: relative;
    display: flex;
        width: fit-content;
    /* padding: 0 5px 0; */
    /* overflow: hidden; */
    /* margin-bottom: 30px; */
  }
  
  .gallery-one__img {
    position: relative;
    display: flex;
    overflow: hidden;
    border-radius: var(--oxpins-bdr-radius);
    z-index: 1;
  }
  
  .gallery-one__img:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: var(--oxpins-bdr-radius);
    content: "";
    background: var(--secondary-color);
    background: linear-gradient(180deg, rgba(250, 210, 91, 0.584) 53%, rgba(250, 210, 91, 0.584) 100%);
    -webkit-transition: all 700ms ease;
    -ms-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    transition: all 700ms ease;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    -moz-transform: translateY(100%);
    transform: translateY(100%);
  }
  
  .gallery-one__single:hover .gallery-one__img:before {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    -moz-transform: translateY(0%);
    transform: translateY(0%);
  }
  
  .gallery-one__img img {
    width: 100%;
    border-radius: var(--oxpins-bdr-radius);
  }
  
  .gallery-one__content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    text-align: center;
    transform: translateY(-100px);
    opacity: 0;
    -webkit-transition: all 700ms ease;
    -ms-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    transition: all 700ms ease;
  }
  
  .gallery-one__single:hover .gallery-one__content {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    -moz-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }
  
  .gallery-one__single .img-popup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }
  
  .gallery-one__sub-title {
    font-size: 24px;
    color: var(--oxpins-black);
    font-weight: 700;
    line-height: 24px;
    font-family: var(--primary-font);
    padding-bottom: 8px;
  }
  
  .gallery-one__title {
    font-size: 34px;
    font-weight: 900;
    letter-spacing: -0.04em;
    line-height: 34px;
    color: var(--oxpins-black);
  }
  
  .gallery-one__title a {
    color: var(--oxpins-black);
  }

  .events-one {
    position: relative;
    display: block;
    background-color: var(--oxpins-extra);
    padding: 120px 0 120px;
    z-index: 1;
  }
  
  .events-one-shape-1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    mix-blend-mode: luminosity;
    opacity: 0.15;
    z-index: -1;
  }

  .about-one__right {
    position: relative;
    display: block;
  }
  
  .about-one__right .section-title {
    margin-bottom: 28px;
  }

  .slick-track{
    display: flex;
    justify-content: center;
    align-items: center;
  }