@import "../public/assets/css/animate.min.css";
@import "../public/assets/css/popup.css";
/* <!--====== Bootstrap css ======--> */
@import "../public/assets/css/bootstrap.min.css";
/* <!--====== Fontawesome css ======--> */
@import "../public/assets/css/font-awesome.min.css";
/* <!--====== Flaticon css ======--> */
@import "../public/assets/css/flaticon.css";
/* <!--====== Slick Css ======--> */
@import "../public/assets/css/slick.min.css";
/* <!--====== Lity Css ======--> */
@import "../public/assets/css/lity.min.css";
/* <!--====== Main css ======--> */
@import "../public/assets/css/main.css";
/* <!--====== Responsive css ======--> */
@import "../public/assets/css/responsive.css";

.font-size-sm{
    font-size: 16px !important;
}
.flex{
    display: flex;
    gap: 2rem;
    justify-content:space-evenly;
    
}
.font-weight-medium{
    font-weight: 400;
}
.text-center{
    text-align: center;
}
.flex-1{
    flex: 1;
}
.font-size-lg{
    font-size: 20px !important;
}

.font-size-xl{
    font-size: x-large !important;
}

.gems-container{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}